:root {
    --color-main: #788d9e;
    --color-sub: #3d405b;
    --color-func: #5fa6e0;
    --color-reverse: #fcfcfc;
    --color-line: #cdcdcd;

    --base-bg: #eee;
    --base-border: #bbb;
    --base-preset: #555;

    --font-size: 15px;
    --wrapper-width: 870px;
    --wrapper-base: 225px;
    --wrapper-func: calc(var(--wrapper-width) - var(--wrapper-base));
}

* {
    outline: none;
}

body, html {
    margin: 0;
    background: var(--base-bg);
    font-family: "Ubuntu", "微軟正黑體", sans-serif;
    letter-spacing: 0.65px;
    font-size: var(--font-size);
    color: var(--base-preset);
    cursor: default;
}

a {
    text-decoration: none;
    color: var(--base-preset);
    display: block;
    transition-duration: 0.3s;
}

ul {
    list-style-type: none;
    padding: 0;
}

h3 {
    color: var(--color-sub);
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 18px;
}

.resume {
    width: 100%;
    width: var(--wrapper-width);
    background: #fbfbfb;
    margin: 20px auto;
    border: 1px solid var(--color-reverse);
    box-shadow: 0 0 20px -3px var(--base-border);
    position: relative;
    display: flex;
}

.resume::before {
    content: "";
    width: 100%;
    height: 6px;
    background: var(--color-main);
    position: absolute;
    bottom: 0;
    left: 0;
}

.resume::after {
    content: "";
    display: block;
    clear: both;
}

.resume .base, .resume .func {
    box-sizing: border-box;
    float: left;
}

.resume .base > div, .resume .func > div {
    padding-bottom: 10px;
}

.resume .base > div:last-of-type, .resume .func > div:last-of-type {
    padding-bottom: 0;
}
    
.resume .base {
    width: var(--wrapper-base);
    padding: 30px 15px;
    background: rgba(238, 238, 238, 0.6);
}

.resume .base .profile {
    background: var(--color-main);
    padding: 30px 15px 5px 15px;
    margin: -30px -15px 45px -15px;
    position: relative;
    z-index: 2;
}

.resume .base .profile ::after {
    content: "";
    position: absolute;
    background: var(--color-main);
    width: 100%;
    height: 30px;
    bottom: -15px;
    left: 0;
    transform: skewY(-5deg);
    z-index: -1;
}

.resume .base .profile .photo img {
    width: 100%;
    border-radius: 50%;
}

.resume .base .info {
    text-align: center;
    color: var(--color-reverse);
}

.resume .base .info .name {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 1.5em;
    font-weight: normal;
}

.resume .contact div {
    line-height: 24px;
}

.resume .contact div a:hover {
    color: var(--color-func);
}

.resume .contact div a:hover span::after {
    width: 100%;
}

.resume .contact div :hover i {
    color: var(--color-func);
}

.resume .contact div i {
    color: var(--color-main);
    width: 20px;
    height: 20px;
    font-size: 20px;
    text-align: center;
    margin-right: 10px;
    transition-duration: 0.3s;
}

.resume .contact div i span {
    position: relative;
}

.resume .contact div i span ::after {
    content: "";
    position: absolute;
    background: var(--color-func);
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    transition-duration: 0.3s;
}

.resume .follow .box {
    text-align: center;
    vertical-align: middle;
}

.resume .follow .box a {
    display: inline-block;
    vertical-align: text-bottom;
}

.resume .follow .box a:hover i {
    background: var(--color-func);
    border-radius: 5px;
    transform: rotate(45deg) scale(0.8);
}

.resume .follow .box a:hover i::before {
    transform: rotate(-45deg) scale(1.5);
}

.resume .follow .box i {
    display: inline-block;
    font-size: 30px;
    background: var(--color-main);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    color: var( --color-reverse);
    margin: 0 10px 10px 10px;
    transition-duration: 0.3s;
}

.resume .follow .box i::before {
    transition-duration: 0.3s;
}

.resume .follow .box i.fa::before {
    display: block;
}

.func {
    width: 600px;
    position: absolute;
    top: 70px;
    left: 850px;
    transform: translateX(-50%);
    z-index: 2;
    max-width: calc(100% - 50px);
}

.func::after {
    content: "";
    display: block;
    position: absolute;
    background: var(--color-main);
    width: 100%;
    height: 3px;
    bottom: 0;
}

.func:hover > div {
    transition-duration: 0s;
}

.f  nc:hover > div:hover h3 {
    letter-spacing: 1.6px;
}

.func:hover > div:hover h3 i {
    transform: scale(1.2);
}

.func:hover > div:not(:hover) {
    opacity: 0.5;
}

.func h3 {
    transition-duration: 0.3s;
    margin-top: 0;
}

.func h3 i {
    color: var( --color-reverse);
    background: var(--color-main);
    width: 42px;
    height: 42px;
    font-size: 20px;
    line-height: 42px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    margin-right: 8px;
    transition-duration: 0.3s;
}

.func .work, 
.func .edu {
    float: left;
    color: var(--base-preset);
}

.func .work small, 
.func .edu small {
    display: block;
    opacity: 0.7;
}

.func .work ul li, 
.func .edu ul li {
    position: relative;
    margin-left: 15px;
    padding-left: 25px;
    padding-bottom: 15px;
}

@media screen and (max-width: 1410px) {
    .func .work ul li span, 
    .func .edu ul li span {
        font-size: 14px;
    }
}

@media screen and (max-width: 1410px) {
    .func .work ul li:last-of-type, 
    .func .edu ul li:last-of-type {
        padding-bottom: 15px;
    }
}

.func .work ul li:hover::before, 
.func .edu ul li:hover::before {
    -webkit-animation: circle 1.2s infinite;
    animation: circle 1.2s infinite;
}

.func .work ul li:hover span, 
.func .edu ul li:hover span {
    color: var(--color-func);
}

@keyframes circle {
    from {
        box-shadow: 0 0 0 0px var(--color-sub);
    }
    to {
        box-shadow: 0 0 0 6px rgb(255, 255, 255);
    }
}

.func .work ul li:first-of-type::before, 
.func .edu ul li:first-of-type::before {
    width: 10px;
    height: 10px;
    left: -2px;
}

.func .work ul li:last-of-type, 
.func .edu ul li:last-of-type {
    padding-bottom: 3px;
}

.func .work ul li:last-of-type::after, 
.func .edu ul li:last-of-type::after {
    border-radius: 1.5px;
}

.func .work ul li::before, 
.func .work ul li::after, 
.func .edu ul li::before, 
.func .edu ul li::after {
    content: "";
    display: block;
    position: absolute;
}

.func .work ul li::before, 
.func .edu ul li::before {
    width: 7px;
    height: 7px;
    border: 3px solid var(--color-sub);
    background: var( --color-reverse);
    border-radius: 50%;
    left: 0;
    z-index: 1;
}

.func .work ul li::after, 
.func .edu ul li::after {
    width: 3px;
    height: 100%;
    background: var(--color-sub);
    left: 5px;
    top: 0;
}

.func .work ul li span, 
.func .edu ul li span {
    transition-duration: 0.3s;
}

.func .work .work, 
.func .edu .work {
    width: 42%;
}

.func .work .edu, 
.func .edu .edu {
    width: 58%;
}

.func .skills-prog {
    clear: both;
    color: var(--base-preset);
}

.func .skills-prog ul {
    margin-left: 15px;
}

.func .skills-prog ul li {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    transition-duration: 0.3s;
}

.func .skills-prog ul li:hover {
    color: var(--color-func);
}

.func .skills-prog ul li:hover .skills-bar .bar {
    background: var(--color-func);
    box-shadow: 0 0 0 1px var(--color-func);
}

.func .skills-prog ul li span {
    display: block;
    width: 120px;
}

.func .skills-prog ul li .skills-bar {
    background: var(--color-line);
    height: 2px;
    width: calc(100% - 120px);
    position: relative;
    border-radius: 2px;
}

.func .skills-prog ul li .skills-bar .bar {
    position: absolute;
    top: -1px;
    height: 4px;
    background: var(--color-main);
    box-shadow: 0 0 0 var(--color-main);
    border-radius: 5px;
}

.func .skills-soft ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.func .skills-soft ul li {
    width: 100%;
    position: relative;
}

.func .skills-soft ul li svg {
    width: 95%;
    height: auto;
    fill: transparent;
    transform: rotate(-90deg);
    position: relative;
}

.func .skills-soft ul li span, 
.func .skills-soft ul li:hover svg text {
    display: block;
    position: absolute;
    top: 38%;
    width: 100%;
    font-size: 13.9px;
    font-weight: bold;
    color: var(--base-preset);
    text-align: center;
    transition: font-size 0.3s, color 0.3s;
}

.func .skills-soft ul li svg text {
    fill: var(--base-preset);
    font-family: "Ubuntu", "微軟正黑體", sans-serif;
    font-weight: bold;
    font-size: 10px;
    text-anchor: center;
    writing-mode: vertical-rl;
    transform: rotate(0deg);
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.func .skills-soft ul li svg .cbar::after {
    content: attr(data-percent);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: var(--color-main);
    z-index: 1;
}

.func .skills-soft ul li svg .cbar {
    stroke: var(--color-main);
    stroke-width: 3px;
    stroke-linecap: round;
    position: relative;
    transition: stroke-dashoffset 0.3s;
}


.func .skills-soft ul li svg .cbar circle {
    fill: none;
    stroke: var(--color-bg);
    stroke-width: 3px;
    stroke-linecap: round;
}

.func .skills-soft ul li:hover svg .cbar::after {
    color: var(--color-func);
}

.func .skills-soft ul li:hover svg .cbar {
    stroke: var(--color-func);
    stroke-width: 4px;
}

.func .skills-soft ul li:hover svg .cbar circle {
    stroke: var(--color-func-bg);
}

.func .skills-soft ul li small {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: bold;
    color: var(--color-main);
}

.func .skills-soft ul li:hover small {
    display: block;
    transform: scale(1.2);
}

.func .skills-soft ul li:hover span, 
.func .skills-soft ul li:hover small {
    transform: scale(1.2);
}

.func .skills-soft ul li:hover svg {
    width: 100%;
    fill: transparent;
    transform: rotate(-90deg);
}

.func .skills-soft ul li:hover svg .cbar {
    stroke-width: 3px;
    stroke: var(--color-func);
    stroke-linecap: round;
}

.func .skills-soft ul li:hover .soft-info span,
.func .skills-soft ul li:hover svg text,
.func .skills-soft ul li:hover .soft-info small {
    position: absolute;
    display: block;
    width: 100%;
    top: 52%;
    transition-duration: 0.3s;
}

.func .skills-soft ul li:hover .soft-info span {
    top: 40%;
}

.func .interests-items {
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
    border: 1px solid var(--base-border);
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.func .interests-items div {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100px;
    height: 100px;
    text-align: center;
}

.func .interests-items div i {
    font-size: 50px; 
    line-height: 60px;
    color: var(--color-main);
    transition-duration: 0.3s;
    display: block;
}


.func .interests-items div:hover i {
    transform: scale(1.2);
    font-size: 45px;
    line-height: 80px;
    color: var(--color-func);
    transition-duration: 0.3s;
}

.func .interests-items div:hover span,
.func .interests-items div:hover span small {
    color: var(--color-func);
    transition-duration: 0.3s;
}

.func .interests-items div:hover i {
    font-size: 45px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: var(--color-main);
    transition-duration: 0.3s;
}

.func .interests-items div:hover i span {
    display: block;
}