/* PROGRAMMING SKILLS*/

.skills-prog {
    clear: both;
    color: var(--base-preset);
}

.skills-prog ul {
    margin-left: 15px;
}

.skills-prog ul li {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    transition-duration: 0.3s;
}
.skills-prog ul li:hover {
    color: var(--color-func);
}

.skills-prog ul li:hover .skills-bar .bar,
.percentage-chart {
    background: var(--color-func);
    box-shadow: 0 0 0 1px var(--color-func);
}

.skills-prog ul li span {
    display: block;
    width: 100px;
}

.skills-prog ul li .skills-bar {
    background: var(--color-line);
    height: 1px;
    width: calc(100% - 120px);
    position: relative;
    border-radius: 2px;
}

.skills-prog ul li .skills-bar .bar {
    position: absolute;
    top: -3px;
    height: 8px;
    width: 0;
    background: var(--color-main);
    box-shadow: 0 0 0 var(--color-main);
    border-radius: 5px;
    transition: width 1s ease-out;
}

/* SOFTWARE SKILLS */

.circle-wrap {
    margin: 50px auto;
    width: 150px;
    height: 150px;
    background: #e6e2e7;
    border-radius: 50%;
}

.skills-soft ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    transition: color 0.3s;
}
.skills-soft ul li {
    width: 100%;
    position: relative;
}

.skills-soft ul li span, 
.skills-soft ul li:hover svg text {
    display: block;
    position: absolute;
    top: 38%;
    width: 100%;
    font-size: 13.9px;
    font-weight: bold;
    text-align: center;
    transition: font-size 0.3s, color 0.3s;
}

.skills-soft ul li:hover, 
.counter {
    color: var(--color-func); /* transition for soft skill*/
}

.skills-soft ul li:hover span, 
.skills-soft ul li:hover small {
    transform: scale(1.2);
}

.skills-soft ul li svg {
    width: 100%;
    height: 100%;
    max-width: 150px;  
    max-height: 150px;
    transition: opacity 0.3s ease;
}

.skills-soft ul li svg text {
    fill: var(--base-preset);
    font-family: "Ubuntu", "微軟正黑體", sans-serif;
    font-weight: bold;
    font-size: 10px;
    text-anchor: middle;
    writing-mode: vertical-rl;
    transform: rotate(0deg);
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.skills-soft ul li svg .counter {
    content: attr(data-percent);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    color: var(--color-func);
    z-index: 1;
    
}

/* CIRCULAR PERCENTAGE */

@property --percentage {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

.counter {
    display: block;
    font-family: "Ubuntu", "微軟正黑體", sans-serif;
    position: absolute;
    left: 50%;
    top: 60%;
    font-size: 15px;
    color: var(--color-main);
    transform: translate(-50%, -50%);
    animation: counter 1s ease-out;
    animation-fill-mode: forwards;
    counter-reset: num var(--percentage);
}

.counter::after {
    content: counter(num) "%";
}

@keyframes counter {
    from {
        --percentage: 0;
    }
    to {
        --percentage: var(--counter-end);
    }
}

.percentage-chart {
    display: block;
    position: relative;
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.percentage-chart svg {
    transform: rotate(-90deg);
}

.percentage-chart-bg {
    fill: none;
    stroke: #b1b1b1;
    stroke-width: 3;
}

.percentage-chart-stroke {
    fill: none;
    stroke-width: 3;
    stroke: var(--color-main);
    stroke-linecap: round;
    animation: progress 10s linear infinite;
    transform-origin: center;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
    100% {
        stroke-dasharray: var(--percentage);
    }
}