.func {
    width: 600px;
    position: absolute;
    top: 45px;
    left: 50%;
    margin-left: 110px;
    background: transparent;
    transform: translateX(-50%);
    z-index: 2;
    max-width: calc(100% - 50px);
}

.func::after {
    content: "";
    display: block;
    position: absolute;
    background: var(--color-main);
    width: 100%;
    height: 3px;
    bottom: 0;
}

.func:hover > div {
    transition-duration: 0s;
}

.f  nc:hover > div:hover h3 {
    letter-spacing: 1.6px;
}

.func:hover > div:hover h3 i {
    transform: scale(1.2);
}

.func:hover > div:not(:hover) {
    opacity: 0.5;
}

.func h3 {
    transition-duration: 0.3s;
    margin-top: 0;
}

.func h3 i {
    color: var( --color-reverse);
    background: var(--color-main);
    width: 42px;
    height: 42px;
    font-size: 20px;
    line-height: 42px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    margin-right: 8px;
    transition-duration: 0.3s;
}

.func .work, 
.func .edu {
    float: left;
    color: var(--base-preset);
}

.func .work small, 
.func .edu small {
    display: block;
    opacity: 0.7;
}

.func .work ul li, 
.func .edu ul li {
    position: relative;
    margin-left: 15px;
    padding-left: 25px;
    padding-bottom: 15px;
}

@media screen and (max-width: 1410px) {
    .func .work ul li span, 
    .func .edu ul li span {
        font-size: 14px;
    }
}

@media screen and (max-width: 1410px) {
    .func .work ul li:last-of-type, 
    .func .edu ul li:last-of-type {
        padding-bottom: 15px;
    }
}

.func .work ul li:hover::before, 
.func .edu ul li:hover::before {
    -webkit-animation: circle 1.2s infinite;
    animation: circle 1.2s infinite;
}

.func .work ul li:hover span, 
.func .edu ul li:hover span {
    color: var(--color-func);
}

@keyframes circle {
    from {
        box-shadow: 0 0 0 0px var(--color-sub);
    }
    to {
        box-shadow: 0 0 0 6px rgb(255, 255, 255);
    }
}

.func .work ul li:first-of-type::before, 
.func .edu ul li:first-of-type::before {
    width: 10px;
    height: 10px;
    left: -2px;
}

.func .work ul li:last-of-type, 
.func .edu ul li:last-of-type {
    padding-bottom: 3px;
}

.func .work ul li:last-of-type::after, 
.func .edu ul li:last-of-type::after {
    border-radius: 1.5px;
}

.func .work ul li::before, 
.func .work ul li::after, 
.func .edu ul li::before, 
.func .edu ul li::after {
    content: "";
    display: block;
    position: absolute;
}

.func .work ul li::before, 
.func .edu ul li::before {
    width: 7px;
    height: 7px;
    border: 3px solid var(--color-sub);
    background: var( --color-reverse);
    border-radius: 50%;
    left: 0;
    z-index: 1;
}

.func .work ul li::after, 
.func .edu ul li::after {
    width: 3px;
    height: 100%;
    background: var(--color-sub);
    left: 5px;
    top: 0;
}

.func .work ul li span, 
.func .edu ul li span {
    transition-duration: 0.3s;
}

.func .work .work, 
.func .edu .work {
    width: 42%;
}

.func .work .edu, 
.func .edu .edu {
    width: 58%;
}