/* Import CSS files */
@import url('styles2.css');
@import url('styles3.css');
@import url('styles4.css');

:root {
    --color-main: #565656;
    --color-sub: #3d405b;
    --color-func: #5fa6e0;
    --color-reverse: #fcfcfc;
    --color-line: #cdcdcd;

    --base-bg: #eee;
    --base-border: #bbb;
    --base-preset: #555;

    --font-size: 15px;
    --wrapper-width: 870px;
    --wrapper-base: 225px;
    --wrapper-func: calc(var(--wrapper-width) - var(--wrapper-base));
}

* {
    outline: none;
}

body, html {
    margin: 0;
    background: var(--base-bg);
    font-family: "Ubuntu", "微軟正黑體", sans-serif;
    letter-spacing: 0.65px;
    font-size: var(--font-size);
    color: var(--base-preset);
    cursor: default;
}

a {
    text-decoration: none;
    color: var(--base-preset);
    display: block;
    transition-duration: 0.3s;
}

ul {
    list-style-type: none;
    padding: 0;
}

h3 {
    color: var(--color-sub);
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 18px;
}

/* RESUME */

.resume {
    width: 100%;
    width: var(--wrapper-width);
    background: #fbfbfb;
    margin: 20px auto;
    border: 1px solid var(--color-reverse);
    box-shadow: 0 0 20px -3px var(--base-border);
    position: relative;
    display: flex;
}

.resume::before {
    content: "";
    width: 100%;
    height: 6px;
    background: var(--color-main);
    position: absolute;
    bottom: 0;
    left: 0;
}

.resume::after {
    content: "";
    display: block;
    clear: both;
}

.resume .base, .resume .func {
    box-sizing: border-box;
    float: left;
}

.resume .base > div, .resume .func > div {
    padding-bottom: 10px;
}

.resume .base > div:last-of-type, .resume .func > div:last-of-type {
    padding-bottom: 0;
}

.resume .base {
    width: var(--wrapper-base);
    padding: 30px 15px;
    background: rgba(238, 238, 238, 0.6);
}

.resume .base .profile {
    background: var(--color-main);
    padding: 30px 15px 5px 15px;
    margin: -30px -15px 45px -15px;
    position: relative;
    z-index: 2;
}

.resume .base .profile ::after {
    content: "";
    position: absolute;
    background: var(--color-main);
    width: 100%;
    height: 30px;
    bottom: -15px;
    left: 0;
    transform: skewY(-5deg);
    z-index: -1;
}

.resume .base .profile .photo img {
    width: 100%;
    border-radius: 50%;
}

.resume .base .info {
    text-align: center;
    color: var(--color-reverse);
}

.resume .base .info .name {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 1.5em;
    font-weight: normal;
}

.resume .contact div {
    line-height: 24px;
}

.resume .contact div a:hover {
    color: var(--color-func);
}

.resume .contact div a:hover span::after {
    width: 100%;
}

.resume .contact div :hover i {
    color: var(--color-func);
}

.resume .contact div i {
    color: var(--color-main);
    width: 20px;
    height: 20px;
    font-size: 20px;
    text-align: center;
    margin-right: 10px;
    transition-duration: 0.3s;
}

.resume .contact div i span {
    position: relative;
}

.resume .contact div i span ::after {
    content: "";
    position: absolute;
    background: var(--color-func);
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    transition-duration: 0.3s;
}

.resume .follow .box {
    text-align: center;
    vertical-align: middle;
}

.resume .follow .box a {
    display: inline-block;
    vertical-align: text-bottom;
}

.resume .follow .box a:hover i {
    background: var(--color-func);
    border-radius: 5px;
    transform: rotate(45deg) scale(0.8);
}

.resume .follow .box a:hover i::before {
    transform: rotate(-45deg) scale(1.5);
}

.resume .follow .box i {
    display: inline-block;
    font-size: 30px;
    background: var(--color-main);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    color: var( --color-reverse);
    margin: 0 10px 10px 10px;
    transition-duration: 0.3s;
}

.resume .follow .box i::before {
    transition-duration: 0.3s;
}

.resume .follow .box i.fa::before {
    display: block;
}