/* INTERESTS */

.func .interests-items {
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
    border: 1px solid var(--base-border);
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.func .interests-items div {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100px;
    height: 100px;
    text-align: center;
}

.func .interests-items div i {
    font-size: 50px; 
    line-height: 60px;
    color: var(--color-main);
    transition-duration: 0.3s;
    display: block;
}


.func .interests-items div:hover i {
    transform: scale(1.2);
    font-size: 45px;
    line-height: 80px;
    color: var(--color-func);
    transition-duration: 0.3s;
}

.func .interests-items div:hover span,
.func .interests-items div:hover span small {
    color: var(--color-func);
    transition-duration: 0.3s;
}

.func .interests-items div:hover i {
    font-size: 45px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: var(--color-main);
    transition-duration: 0.3s;
}

.func .interests-items div:hover i span {
    display: block;
}